Sport/Connected Services/ObtenerTicket/ObtenerTicket.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerTokenPersonaBest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tk" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTokenPersonaBestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerTokenPersonaBestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTokenFacturaBest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tk" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTokenFacturaBestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerTokenFacturaBestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerTokenPersonaBestSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerTokenPersonaBest" />
  </wsdl:message>
  <wsdl:message name="ObtenerTokenPersonaBestSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerTokenPersonaBestResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerTokenFacturaBestSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerTokenFacturaBest" />
  </wsdl:message>
  <wsdl:message name="ObtenerTokenFacturaBestSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerTokenFacturaBestResponse" />
  </wsdl:message>
  <wsdl:portType name="ObtenerTicketSoap">
    <wsdl:operation name="ObtenerTokenPersonaBest">
      <wsdl:input message="tns:ObtenerTokenPersonaBestSoapIn" />
      <wsdl:output message="tns:ObtenerTokenPersonaBestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTokenFacturaBest">
      <wsdl:input message="tns:ObtenerTokenFacturaBestSoapIn" />
      <wsdl:output message="tns:ObtenerTokenFacturaBestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ObtenerTicketSoap" type="tns:ObtenerTicketSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerTokenPersonaBest">
      <soap:operation soapAction="http://tempuri.org/ObtenerTokenPersonaBest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTokenFacturaBest">
      <soap:operation soapAction="http://tempuri.org/ObtenerTokenFacturaBest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ObtenerTicketSoap12" type="tns:ObtenerTicketSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerTokenPersonaBest">
      <soap12:operation soapAction="http://tempuri.org/ObtenerTokenPersonaBest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTokenFacturaBest">
      <soap12:operation soapAction="http://tempuri.org/ObtenerTokenFacturaBest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObtenerTicket">
    <wsdl:port name="ObtenerTicketSoap" binding="tns:ObtenerTicketSoap">
      <soap:address location="http://www.hardsoft.com.ar/Services/ObtenerTicket.asmx" />
    </wsdl:port>
    <wsdl:port name="ObtenerTicketSoap12" binding="tns:ObtenerTicketSoap12">
      <soap12:address location="http://www.hardsoft.com.ar/Services/ObtenerTicket.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>